@import './../../theme/theme';

.nd-profile-wrapper {
  max-width: 600px;
  padding: 60px;
  border: none;

  .ant-card-body {
    border: 1px solid $border-primary-color;
    border-radius: 4px;
    background-color: $bck-primary-color;

    .ant-card-meta {
      .ant-card-meta-title {
        margin-top: 16px;
        font-size: 18px;
      }

      .ant-card-meta-description {
        color: black;
      }
    }
  }
}
