@import './../../theme/theme';

.nd-workspace-wrapper {
  padding: 0 48px 48px;

  .ant-tabs-bar {
    margin: 0;
    border-bottom: none;

    .ant-tabs-nav-container {
      margin-bottom: 32px;
    }
  }

  .nd-workspace-info-wrapper {
    max-width: 800px;

    input,
    textarea {
      width: 50vw;
      max-width: 500px;
    }

    textarea {
      resize: none;
    }
  }

  .nd-workspace-invitations-wrapper,
  .nd-workspace-holidays-wrapper {
    max-width: 800px;

    .ant-table-row {
      td {
        padding: 4px 16px;
      }

      .ant-btn {
        padding: 0;

        &:hover {
          color: $hover-link-primary-color;
        }
      }
    }
  }

  .nd-workspace-members-wrapper {
    .ant-card {
      box-shadow: 2px 2px;

      &:hover {
        background-color: $hover-primary-color;
      }

      .ant-card-actions {
        span,
        i {
          width: 100%;
        }
      }
    }
  }
}

.nd-modal-leaves {
  .ant-modal-content {
    width: 580px;

    .card {
      text-align: center;
      box-shadow: 1px 1px $shadow-primary-color;

      &:hover {
        background-color: $hover-primary-color;
      }
    }

    .card-color-green {
      .ant-card-head,
      .ant-card-body {
        color: green;
      }
    }

    .card-color-orange {
      .ant-card-head,
      .ant-card-body {
        color: orange;
      }
    }

    .card-color-red {
      .ant-card-head,
      .ant-card-body {
        color: red;
      }
    }

    .card-leaves {
      font-size: 20px;
      text-align: center;
    }
  }
}
