@import './../../theme/theme';

.nd-leaves-wrapper {
  max-width: 1200px;
  padding: 0 48px;

  .ant-tabs-bar {
    margin: 0;
    border-bottom: none;

    .ant-tabs-nav-container {
      margin-bottom: 32px;
    }
  }

  .nd-leaves-tab-personal {
    .leaves-info {
      margin-bottom: 48px;
    }

    .nd-table-personal-balance {
      max-width: 550px;

      th,
      td {
        text-align: center;
      }
    }

    .nd-leaves-personal-info {
      max-width: 750px;
      margin: 16px 0;
      border: 1px solid $border-primary-color;
      border-radius: 4px;

      .inner-table {
        margin: 0;
      }

      .ant-card-head {
        border-bottom: none;
        background-color: $bck-primary-color;
      }

      .ant-card-body {
        background-color: $bck-primary-color;
      }

      .ant-tabs-nav-container {
        font-size: 14px;
      }
    }
  }

  .nd-leaves-tab-team {
    max-width: 750px;

    .ant-table-body .ant-table-expanded-row > td:last-child {
      padding: 20px 20px 20px 0;
    }

    .inner-table {
      margin-bottom: 0;

      .ant-table-thead tr th {
        background-color: $bck-primary-color;
      }

      .ant-table-tbody tr td {
        background-color: $bck-secondary-color;
      }
    }
  }
}

.nd-leaves-form-user-request > div {
  margin-bottom: 16px;
}
