// Background-colors
$bck-primary-color: #e9eae8;
$bck-secondary-color: rgb(240, 242, 245);

//Border colors
$border-primary-color: #bbbbbb;

//Hover colors
$hover-primary-color: #e6f7ff;
$hover-link-primary-color: darkblue;

//Shadow
$shadow-primary-color: grey;

// Calendar messages
$bg-sick-leave: #ffd9d7;
$border-sick-leave: rgb(255, 163, 158);
$bg-unpaid: #fffbe6;
$border-unpaid: #ffe58f;
$bg-paid: #f6ffed;
$border-paid: #b7eb8f;
$bg-wfh: #e6f7ff;
$border-wfh: #91d5ff;
