// Background-colors
$bck-primary-color: #e9eae8;
$bck-secondary-color: rgb(240, 242, 245);

//Border colors
$border-primary-color: #bbbbbb;
$border-secondary-color: rgb(240, 242, 245);

//Hover colors
$hover-primary-color: #e6f7ff;
$hover-link-primary-color: darkblue;

//Shadow
$shadow-primary-color: grey;
$shadow-secondary-color: rgb(240, 242, 245);
