@import './../../theme/theme';

.auth-wrap {
  padding: 40px;
  border: 1px solid $border-primary-color;
  border-radius: 4px;
  background-color: $bck-secondary-color;

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-input {
    margin-bottom: 16px;
  }

  &-button {
    margin-top: auto;
    padding-top: 16px;
    text-align: right;
  }

  &.auth-wrap-login {
    width: 320px;
    height: 310px;
  }

  &.auth-wrap-signup {
    width: 320px;
    height: 450px;
  }
}
